<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href='http://fonts.googleapis.com/css?family=Economica:400,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        body {
            font-family: 'Economica', sans-serif;
            font-size: 3em;
        }
        h1 {
{#            font-size: 2em;#}
        }
        .serif {
            font-family: serif;
        }
        .center {
        color: #0f0f0f;
        width:458px;
        *width:500px;
        text-align: center;
        vertical-align:middle;
        border: 1px solid #003366;
        padding: 20px;
        }
    </style>
</head>
<body>
<h1>Welcome to Hollywood!</h1>

<ul>
    <li><a href="{%  url 'genres' %}">Genres</a></li>
    <li><a href="{%  url 'movies' %}">Movies</a></li>
</ul>
</body>
</html>